<mat-toolbar color="primary">
  <span>Kub Dep</span>
  <span class="example-spacer"></span>
  <button mat-fab-button class="example-icon" routerLink="/auth/sign-in">
    <mat-icon>login</mat-icon>
  </button>
  <button mat-raised-button [matMenuTriggerFor]="menu" color="accent" class="example-icon">Tasks</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/tasks/view">View</button>
    <button mat-menu-item routerLink="/tasks/create">Create</button>
  </mat-menu>
  <button mat-fab-button class="example-icon" (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>